@using Oqtane.Module.Blogs.Services
@using Oqtane.Module.Blogs.Models
@namespace Oqtane.Module.Blogs
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject HttpClient http
@inject SiteState sitestate
@inject ISettingService SettingService

@if (blogs != null)
{
    if (PageState.QueryString.ContainsKey("id"))
    {
        if (blogs.Count > 0)
        {
            <h2>@blogs[0].Title</h2>
            <p>
                @((MarkupString)@blogs[0].Content)
                <br /><br /><b>Posted by</b> @blogs[0].CreatedBy <b>on</b> @blogs[0].CreatedOn.ToShortDateString()
            </p>
            <NavLink class="btn btn-secondary" href="@NavigateUrl()">View All Blogs</NavLink>
        }
    }
    else
    {
        <ActionLink Action="Add" Security="SecurityAccessLevel.Edit" Text="Add Blog" />
        <Pager Format="Grid" Items="@blogs">
            <Row>
                <div class="col">
                    <br />
                    <a href="@NavigateUrl(PageState.Page.Path, "id=" + context.BlogId.ToString())">
                        <h2>@context.Title</h2>
                    </a>
                    <p>
                        <b>Posted by</b> @context.CreatedBy <b>on</b> @context.CreatedOn.ToShortDateString()
                        <br />
                        @if (context.Content.Length > summarylength)
                        {
                            @((MarkupString)@context.Content.Substring(0, summarylength))
                        }
                        else
                        {
                            @((MarkupString)@context.Content)
                        }
                    </p>
                    <ActionLink Action="Edit" Parameters="@($"id=" + context.BlogId.ToString())" />
                    <ActionDialog Header="Delete Blog" Message="@("Are You Sure You Wish To Delete This Blog?")" Action="Delete" Security="SecurityAccessLevel.Edit" Class="btn btn-danger" OnClick="@(async () => await DeleteBlog(context.BlogId))" />
                </div>
            </Row>
        </Pager>
    }
    <br />
}

@code {
    List<Blog> blogs;
    int maxblogs;
    int summarylength;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Dictionary<string, string> settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
            maxblogs = int.Parse(SettingService.GetSetting(settings, "MaxBogs", "20"));
            summarylength = int.Parse(SettingService.GetSetting(settings, "SummaryLength", "100"));
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Blogs {Error}", ex.Message);
            ModuleInstance.AddModuleMessage("Error Loading Blogs", MessageType.Error);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            BlogService BlogService = new BlogService(http, sitestate, NavigationManager);
            if (PageState.QueryString.ContainsKey("blogid"))
            {
                blogs = new List<Blog>();
                blogs.Add(await BlogService.GetBlogAsync(int.Parse(PageState.QueryString["blogid"]), ModuleState.ModuleId));
            }
            else
            {
                blogs = await BlogService.GetBlogsAsync(ModuleState.ModuleId);
                blogs = blogs.OrderByDescending(item => item.CreatedOn).Take(maxblogs).ToList();
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Blogs {Error}", ex.Message);
            ModuleInstance.AddModuleMessage("Error Loading Blogs", MessageType.Error);
        }
    }

    private async Task DeleteBlog(int id)
    {
        try
        {
            BlogService BlogService = new BlogService(http, sitestate, NavigationManager);
            await BlogService.DeleteBlogAsync(id, ModuleState.ModuleId);
            await logger.LogInformation("Blog Deleted {BlogId}", id);
            NavigationManager.NavigateTo(NavigateUrl());
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Deleting Blog {BlogId} {Error}", id, ex.Message);
            ModuleInstance.AddModuleMessage("Error Deleting Blog", MessageType.Error);
        }
    }
}
